<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @professor, partial: "card", as: :professor %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "professors/professor_courses" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "professors/professor_fans" %>
  </div>
</div>
  <!-- Show Page Customization end -->
